USE [master]
GO
/****** Object:  Database [MovieWeb]    Script Date: 10/20/2021 9:16:41 AM ******/
CREATE DATABASE [MovieWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MovieWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MovieWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieWeb]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[maBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[maPhim] [varchar](15) NOT NULL,
	[tenDN] [varchar](15) NOT NULL,
	[Sao] [int] NOT NULL,
	[noiDung] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiaSe]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiaSe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenDN] [varchar](15) NULL,
	[maPhim] [varchar](15) NULL,
	[emails] [varchar](50) NULL,
	[ngayChiaSe] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoiDung]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoiDung](
	[tenDN] [varchar](15) NOT NULL,
	[Ho] [nvarchar](20) NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[matKhau] [varchar](20) NOT NULL,
	[vaiTro] [bit] NOT NULL,
 CONSTRAINT [PK__nguoiDun__FB7499F6FC00F2AF] PRIMARY KEY CLUSTERED 
(
	[tenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[maPhim] [varchar](15) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[noiDung] [nvarchar](max) NOT NULL,
	[doPhanGiai] [varchar](10) NOT NULL,
	[daoDien] [nvarchar](50) NOT NULL,
	[ngayCongChieu] [date] NOT NULL,
	[thoiLuong] [int] NOT NULL,
	[phuDe] [nvarchar](20) NOT NULL,
	[luotXem] [int] NULL,
	[Trailer] [varchar](max) NULL,
	[Link] [varchar](max) NULL,
	[Poster] [varchar](max) NULL,
	[Hinh1] [varchar](max) NULL,
	[Hinh2] [varchar](max) NULL,
	[Hinh3] [varchar](max) NULL,
	[Hinh4] [varchar](max) NULL,
	[hieuLuc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhimTH]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimTH](
	[maTongHop] [int] IDENTITY(1,1) NOT NULL,
	[maPhim] [varchar](15) NOT NULL,
	[maTheLoai] [varchar](15) NOT NULL,
	[loaiPhim] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[maTongHop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[maTheLoai] [varchar](15) NOT NULL,
	[tenTheLoai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 10/20/2021 9:16:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[maYeuThich] [int] IDENTITY(1,1) NOT NULL,
	[maPhim] [varchar](15) NOT NULL,
	[tenDN] [varchar](15) NOT NULL,
	[ngayThich] [date] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([maBinhLuan], [maPhim], [tenDN], [Sao], [noiDung]) VALUES (4, N'FZ22019', N'trannghia', 4, N'Đỉnh của chóp')
INSERT [dbo].[BinhLuan] ([maBinhLuan], [maPhim], [tenDN], [Sao], [noiDung]) VALUES (3, N'FZ22019', N'nghiatran', 5, N'Phim khá hay')
INSERT [dbo].[BinhLuan] ([maBinhLuan], [maPhim], [tenDN], [Sao], [noiDung]) VALUES (5, N'FZ22019', N'dungkhinhsp', 3, N'Air, Earth, Water, Fire nghe cứ như là đang xem Avatar: The last Airbender')
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiaSe] ON 

INSERT [dbo].[ChiaSe] ([id], [tenDN], [maPhim], [emails], [ngayChiaSe]) VALUES (1, N'nghianghia', N'ALC2017', N'halala1102@gmail.com', CAST(N'2021-10-19' AS Date))
SET IDENTITY_INSERT [dbo].[ChiaSe] OFF
GO
INSERT [dbo].[nguoiDung] ([tenDN], [Ho], [Ten], [Email], [matKhau], [vaiTro]) VALUES (N'admin01', N'Nghĩa', N'Trần', N'nghiattps14820@fpt.edu.vn', N'admin01', 1)
INSERT [dbo].[nguoiDung] ([tenDN], [Ho], [Ten], [Email], [matKhau], [vaiTro]) VALUES (N'admin1', N'Trần', N'Nghĩa', N'testemailnghiatran@gmail.com', N'12345678', 1)
INSERT [dbo].[nguoiDung] ([tenDN], [Ho], [Ten], [Email], [matKhau], [vaiTro]) VALUES (N'nghianghia', N'Ahihi', N'Doce', N'emailtest2@gmai2.com', N'nghiatran123', 0)
GO
SET IDENTITY_INSERT [dbo].[PhimTH] ON 

INSERT [dbo].[PhimTH] ([maTongHop], [maPhim], [maTheLoai], [loaiPhim]) VALUES (25, N'IRON08', N'HD01', 1)
INSERT [dbo].[PhimTH] ([maTongHop], [maPhim], [maTheLoai], [loaiPhim]) VALUES (26, N'CACW16', N'HD01', 1)
INSERT [dbo].[PhimTH] ([maTongHop], [maPhim], [maTheLoai], [loaiPhim]) VALUES (27, N'BP2018', N'HD01', 1)
SET IDENTITY_INSERT [dbo].[PhimTH] OFF
GO
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (N'CT01', N'Chiến tranh')
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (N'GD01', N'Gia đình')
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (N'HD01', N'Hành động')
GO
SET IDENTITY_INSERT [dbo].[YeuThich] ON 

INSERT [dbo].[YeuThich] ([maYeuThich], [maPhim], [tenDN], [ngayThich]) VALUES (7, N'FZ22019', N'user03', CAST(N'2021-02-01' AS Date))
INSERT [dbo].[YeuThich] ([maYeuThich], [maPhim], [tenDN], [ngayThich]) VALUES (8, N'AVEG19', N'nghiatran', CAST(N'2021-02-01' AS Date))
INSERT [dbo].[YeuThich] ([maYeuThich], [maPhim], [tenDN], [ngayThich]) VALUES (13, N'FZ22019', N'nghiatran', CAST(N'2021-02-03' AS Date))
SET IDENTITY_INSERT [dbo].[YeuThich] OFF
GO
ALTER TABLE [dbo].[BinhLuan] ADD  CONSTRAINT [DF__BinhLuan__noiDun__4316F928]  DEFAULT (NULL) FOR [noiDung]
GO
ALTER TABLE [dbo].[ChiaSe] ADD  DEFAULT (getdate()) FOR [ngayChiaSe]
GO
ALTER TABLE [dbo].[nguoiDung] ADD  DEFAULT ((0)) FOR [vaiTro]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [luotXem]
GO
ALTER TABLE [dbo].[Phim] ADD  CONSTRAINT [DF_Phim_hieuLuc]  DEFAULT ((1)) FOR [hieuLuc]
GO
ALTER TABLE [dbo].[PhimTH] ADD  DEFAULT ((0)) FOR [loaiPhim]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK__BinhLuan__maPhim__440B1D61] FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK__BinhLuan__maPhim__440B1D61]
GO
ALTER TABLE [dbo].[ChiaSe]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[ChiaSe]  WITH CHECK ADD FOREIGN KEY([tenDN])
REFERENCES [dbo].[nguoiDung] ([tenDN])
GO
ALTER TABLE [dbo].[PhimTH]  WITH CHECK ADD FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[PhimTH]  WITH CHECK ADD FOREIGN KEY([maTheLoai])
REFERENCES [dbo].[TheLoai] ([maTheLoai])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD  CONSTRAINT [FK__YeuThich__maPhim__49C3F6B7] FOREIGN KEY([maPhim])
REFERENCES [dbo].[Phim] ([maPhim])
GO
ALTER TABLE [dbo].[YeuThich] CHECK CONSTRAINT [FK__YeuThich__maPhim__49C3F6B7]
GO
USE [master]
GO
